In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Salaries.csv")

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   20       20    Male  122400
2   AssocProf          A   20       17    Male   81285
3        Prof          B   23       23    Male  134778
4    AsstProf          B    1        0    Male   88000
5        Prof          B   17        3    Male  150480
6    AsstProf          B    8        3    Male   75044
7    AsstProf          B    4        0    Male   92000
8        Prof          A   19        7    Male  107300
9        Prof          A   29       27    Male  150500
10   AsstProf          B    4        4    Male   92000
11       Prof          A   33       30    Male  103106
12   AsstProf          A    4        2    Male   73000
13   AsstProf          A    2        0    Male   85000
14       Prof          A   30       23    Male   91100
15   AsstProf          B    7        2    Male   91300
16       Prof          B   21       20    Male  123683
17  AssocProf          B    9        7    Male  107008
18       Prof          B   22       21    Male  155750
19  AssocProf          B   12        8    Male  119800
20       Prof          B   45       45    Male  146856
21   AsstProf          B    4        3    Male   91000
22       Prof          A   39       36  Female  137000
23  AssocProf          A   13        8  Female   74830
24       Prof          B   25       25  Female  140096
25   AsstProf          B   11        3  Female   74692
26  AssocProf          B   11       11  Female  103613
27       Prof          B   17       17  Female  111512
28   AsstProf          B   10        5  Female   97032
29       Prof          B   20       14  Female  127512
30       Prof          A   12        0  Female  105000
31   AsstProf          A    5        3  Female   73500
32   AsstProf          A    3        1  Female   72500
33       Prof          B   36       26  Female  144651
34  AssocProf          B   12       10  Female  103994
35   AsstProf          B    3        3  Female   92000
36       Prof          A   29       27  Female   91000
37  AssocProf          A   26       24  Female   73300
38       Prof          A   36       19  Female  117555
39   AsstProf          A    7        6  Female   63100
40       Prof          A   17       11  Female   90450
41   AsstProf          A    4        2  Female   77500
42       Prof          A   28        7  Female  116450
43   AsstProf          A    8        3  Female   78500
44  AssocProf          B   12        9  Female   71065
45       Prof          B   24       15  Female  161101
46       Prof          B   18       10  Female  105450
47  AssocProf          B   19        6  Female  104542
48       Prof          B   17       17  Female  124312
49       Prof          A   28       14  Female  109954
50       Prof          A   23       15  Female  109646

In [ ]:
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   20       20  Male  122400
2  AssocProf          A   20       17  Male   81285
3       Prof          B   23       23  Male  134778
4   AsstProf          B    1        0  Male   88000
5       Prof          B   17        3  Male  150480
6   AsstProf          B    8        3  Male   75044
7   AsstProf          B    4        0  Male   92000
8       Prof          A   19        7  Male  107300
9       Prof          A   29       27  Male  150500

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=51, step=1)

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.tail()

         rank discipline  phd  service     sex  salary
46       Prof          B   18       10  Female  105450
47  AssocProf          B   19        6  Female  104542
48       Prof          B   17       17  Female  124312
49       Prof          A   28       14  Female  109954
50       Prof          A   23       15  Female  109646

In [ ]:
df.axes

[RangeIndex(start=0, stop=51, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [ ]:
df.describe() ###summary stats only for numerical data

             phd    service         salary
count  51.000000  51.000000      51.000000
mean   17.705882  12.960784  106278.568627
std    12.090152  11.615439   27957.854794
min     1.000000   0.000000   63100.000000
25%     8.000000   3.000000   86500.000000
50%    17.000000  10.000000  103994.000000
75%    24.500000  20.000000  123041.500000
max    56.000000  49.000000  186960.000000

In [ ]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            63100
dtype: object

In [ ]:
df['discipline'].unique()

array(['B', 'A'], dtype=object)

In [ ]:
df.discipline.nunique()

2

In [ ]:
df.discipline.value_counts()

discipline
B    28
A    23
Name: count, dtype: int64

In [ ]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [ ]:
df['rank'].value_counts()

rank
Prof         26
AsstProf     16
AssocProf     9
Name: count, dtype: int64

In [ ]:
df.describe()

             phd    service         salary
count  51.000000  51.000000      51.000000
mean   17.705882  12.960784  106278.568627
std    12.090152  11.615439   27957.854794
min     1.000000   0.000000   63100.000000
25%     8.000000   3.000000   86500.000000
50%    17.000000  10.000000  103994.000000
75%    24.500000  20.000000  123041.500000
max    56.000000  49.000000  186960.000000

In [ ]:
#Selecting a column
df.salary

0     186960
1     122400
2      81285
3     134778
4      88000
5     150480
6      75044
7      92000
8     107300
9     150500
10     92000
11    103106
12     73000
13     85000
14     91100
15     91300
16    123683
17    107008
18    155750
19    119800
20    146856
21     91000
22    137000
23     74830
24    140096
25     74692
26    103613
27    111512
28     97032
29    127512
30    105000
31     73500
32     72500
33    144651
34    103994
35     92000
36     91000
37     73300
38    117555
39     63100
40     90450
41     77500
42    116450
43     78500
44     71065
45    161101
46    105450
47    104542
48    124312
49    109954
50    109646
Name: salary, dtype: int64

In [ ]:
df['salary']

0     186960
1     122400
2      81285
3     134778
4      88000
5     150480
6      75044
7      92000
8     107300
9     150500
10     92000
11    103106
12     73000
13     85000
14     91100
15     91300
16    123683
17    107008
18    155750
19    119800
20    146856
21     91000
22    137000
23     74830
24    140096
25     74692
26    103613
27    111512
28     97032
29    127512
30    105000
31     73500
32     72500
33    144651
34    103994
35     92000
36     91000
37     73300
38    117555
39     63100
40     90450
41     77500
42    116450
43     78500
44     71065
45    161101
46    105450
47    104542
48    124312
49    109954
50    109646
Name: salary, dtype: int64

In [ ]:
df[['salary','sex','discipline']].head()

   salary   sex discipline
0  186960  Male          B
1  122400  Male          A
2   81285  Male          A
3  134778  Male          B
4   88000  Male          B

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
df_num=df[['salary','service','phd']]
df_num.head()

   salary  service  phd
0  186960       49   56
1  122400       20   20
2   81285       17   20
3  134778       23   23
4   88000        0    1

In [ ]:
df.mean(numeric_only=True)

phd            17.705882
service        12.960784
salary     106278.568627
dtype: float64

In [ ]:
df.select_dtypes(include='number')

    phd  service  salary
0    56       49  186960
1    20       20  122400
2    20       17   81285
3    23       23  134778
4     1        0   88000
5    17        3  150480
6     8        3   75044
7     4        0   92000
8    19        7  107300
9    29       27  150500
10    4        4   92000
11   33       30  103106
12    4        2   73000
13    2        0   85000
14   30       23   91100
15    7        2   91300
16   21       20  123683
17    9        7  107008
18   22       21  155750
19   12        8  119800
20   45       45  146856
21    4        3   91000
22   39       36  137000
23   13        8   74830
24   25       25  140096
25   11        3   74692
26   11       11  103613
27   17       17  111512
28   10        5   97032
29   20       14  127512
30   12        0  105000
31    5        3   73500
32    3        1   72500
33   36       26  144651
34   12       10  103994
35    3        3   92000
36   29       27   91000
37   26       24   73300
38   36       19  117555
39    7        6   63100
40   17       11   90450
41    4        2   77500
42   28        7  116450
43    8        3   78500
44   12        9   71065
45   24       15  161101
46   18       10  105450
47   19        6  104542
48   17       17  124312
49   28       14  109954
50   23       15  109646

In [ ]:
df.phd.var()

146.17176470588237

In [ ]:
df.phd.count()

51

In [ ]:
df2=df[['phd','salary','service']]

In [ ]:
df2.mean()

phd            17.705882
salary     106278.568627
service        12.960784
dtype: float64

In [ ]:
df2.var()

phd        1.461718e+02
salary     7.816416e+08
service    1.349184e+02
dtype: float64

In [ ]:
df2.std()

phd           12.090152
salary     27957.854794
service       11.615439
dtype: float64

In [ ]:
df2.mode()

   phd  salary  service
0    4   92000        3

In [ ]:
df2.median()

phd            17.0
salary     103994.0
service        10.0
dtype: float64

In [ ]:
grouped=df.groupby(['rank'])

In [ ]:
grouped

In [ ]:
for i,j in grouped:
  print(i)
  print(j)

('AssocProf',)
         rank discipline  phd  service     sex  salary
2   AssocProf          A   20       17    Male   81285
17  AssocProf          B    9        7    Male  107008
19  AssocProf          B   12        8    Male  119800
23  AssocProf          A   13        8  Female   74830
26  AssocProf          B   11       11  Female  103613
34  AssocProf          B   12       10  Female  103994
37  AssocProf          A   26       24  Female   73300
44  AssocProf          B   12        9  Female   71065
47  AssocProf          B   19        6  Female  104542
('AsstProf',)
        rank discipline  phd  service     sex  salary
4   AsstProf          B    1        0    Male   88000
6   AsstProf          B    8        3    Male   75044
7   AsstProf          B    4        0    Male   92000
10  AsstProf          B    4        4    Male   92000
12  AsstProf          A    4        2    Male   73000
13  AsstProf          A    2        0    Male   85000
15  AsstProf          B    7        2    Male   91300
21  AsstProf          B    4        3    Male   91000
25  AsstProf          B   11        3  Female   74692
28  AsstProf          B   10        5  Female   97032
31  AsstProf          A    5        3  Female   73500
32  AsstProf          A    3        1  Female   72500
35  AsstProf          B    3        3  Female   92000
39  AsstProf          A    7        6  Female   63100
41  AsstProf          A    4        2  Female   77500
43  AsstProf          A    8        3  Female   78500
('Prof',)
    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   20       20    Male  122400
3   Prof          B   23       23    Male  134778
5   Prof          B   17        3    Male  150480
8   Prof          A   19        7    Male  107300
9   Prof          A   29       27    Male  150500
11  Prof          A   33       30    Male  103106
14  Prof          A   30       23    Male   91100
16  Prof          B   21       20    Male  123683
18  Prof          B   22       21    Male  155750
20  Prof          B   45       45    Male  146856
22  Prof          A   39       36  Female  137000
24  Prof          B   25       25  Female  140096
27  Prof          B   17       17  Female  111512
29  Prof          B   20       14  Female  127512
30  Prof          A   12        0  Female  105000
33  Prof          B   36       26  Female  144651
36  Prof          A   29       27  Female   91000
38  Prof          A   36       19  Female  117555
40  Prof          A   17       11  Female   90450
42  Prof          A   28        7  Female  116450
45  Prof          B   24       15  Female  161101
46  Prof          B   18       10  Female  105450
48  Prof          B   17       17  Female  124312
49  Prof          A   28       14  Female  109954
50  Prof          A   23       15  Female  109646

In [ ]:
df.groupby('rank').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df.groupby('rank')[['salary','phd']].mean()

In [ ]:
round(df.groupby('sex')['service'].mean(),2)

In [ ]:
type(grouped)

In [ ]:
df.salary>120000

In [ ]:
df[df.salary>120000]

In [ ]:
df[df.salary==150500]

In [ ]:
df[(df['salary']<80000) & (df['discipline']=='B')]

In [ ]:
df.head()

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:10,0:3]

In [ ]:
df.iloc[0:2,:]

In [ ]:
df.iloc[:,-4]

In [ ]:
df.loc[:,'phd':'salary']

In [ ]:
df.loc[0:10,'rank':'service']

In [ ]:
df.loc[10:21,'phd':'salary']

In [ ]:
df.loc[:,['salary','phd']]

In [ ]:
df.loc[30:45,'phd':'salary']

In [ ]:
df.phd.hist()

In [ ]:
round(df.phd.skew(),2)

0.87

In [ ]:
df.phd.kurt()

0.7963045381022211

In [ ]:
df.salary.median()

103994.0

In [ ]:
df.salary.mode()[0]

92000

In [ ]:
df[['sex','rank']].mode()

      sex  rank
0  Female  Prof

In [ ]:
import pandas as pd

In [ ]:
data={'c1':[1,2,3,4,5],'c2':[6,7,8,9,10],'c3':[11,12,13,14,15]}
data

{'c1': [1, 2, 3, 4, 5], 'c2': [6, 7, 8, 9, 10], 'c3': [11, 12, 13, 14, 15]}

In [ ]:
dataframe=pd.DataFrame(data)

In [ ]:
dataframe

   c1  c2  c3
0   1   6  11
1   2   7  12
2   3   8  13
3   4   9  14
4   5  10  15

In [ ]:
data=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
df=pd.DataFrame(data,columns=['c1','c2','c3','c4','c5'],index=['r1','r2','r3'])
df

    c1  c2  c3  c4  c5
r1   1   2   3   4   5
r2   6   7   8   9  10
r3  11  12  13  14  15

In [ ]:
round(23.445678,2)

23.45